<div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">{{phrase.dashboard}}</h3>
    </div>
    <div class="col-md-6 col-4 align-self-center">

    </div>
</div>

<div class="row" ng-show="$root.can('dashboard.stats')">
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card card-success">
            <div class="card-block">
                <h4 class="card-title text-white">{{phrase.classes}}</h4>
                <div class="text-right">
                    <h2 class="font-light m-b-0 text-white"><i class="mdi mdi-sort-variant"></i>  {{dashboardData.stats.classes}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card card-info">
            <div class="card-block">

                <div id="myCarousel" carousel-init class="carousel slide" data-ride="carousel">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="carousel-item active flex-column">
                            <h4 class="text-white card-title">{{phrase.students}}</h4>
                            <h3 class="text-white font-light text-right"><i class="ti-user"></i> {{dashboardData.stats.students}}</h3>
                        </div>
                        <div class="carousel-item flex-column">
                            <h4 class="text-white card-title">{{phrase.teachers}}</h4>
                            <h3 class="text-white font-light text-right"><i class="ti-user"></i> {{dashboardData.stats.teachers}}</h3>
                        </div>
                        <div class="carousel-item flex-column">
                            <h4 class="text-white card-title">{{phrase.parents}}</h4>
                            <h3 class="text-white font-light text-right"><i class="ti-user"></i> {{dashboardData.stats.parents}}</h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6" ng-show="dashboardData.activatedModules.indexOf('messagesAct') > -1 && adminHasPerm('Messages.list')">
        <div class="card card-danger">
            <div class="card-block">
                <h4 class="card-title text-white">{{phrase.Messages}}</h4>
                <div class="text-right">
                    <h2 class="font-light m-b-0 text-white"><i class="mdi mdi-message-text-outline"></i>  {{dashboardData.stats.newMessages}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6" ng-show="dashboardData.invoices">
        <div class="card card-primary">
            <div class="card-block">

                <div id="myCarousel" carousel-init class="carousel slide" data-ride="carousel">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="carousel-item active flex-column">
                            <h4 class="text-white card-title">{{phrase.Invoices}}</h4>
                            <h3 class="text-white font-light text-right">{{dashboardData.currency_symbol}} {{dashboardData.stats.invoices}}</h3>
                        </div>
                        <div class="carousel-item flex-column">
                            <h4 class="text-white card-title">{{phrase.dueInvoices}}</h4>
                            <h3 class="text-white font-light text-right">{{dashboardData.currency_symbol}} {{dashboardData.stats.dueInvoices}}<h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-lg-4 col-md-4" ng-show="$root.can('dashboard.Profile')">
        <div class="card">
            <div class="card-block">
                <div class="d-flex flex-row">
                    <div class=""><img ng-src="{{'index.php/dashboard/profileImage/'+dashboardData.baseUser.id}}" alt="user" class="img-circle" width="100" height="100"></div>
                    <div class="p-l-20">
                        <h3 class="font-medium">{{dashboardData.baseUser.fullName}}</h3>
                        <h6>{{phrase.username}} : {{dashboardData.baseUser.username}}</h6>
                        <h6 class="hidden-sm-down">{{phrase.mail}} : {{dashboardData.baseUser.email}}</h6>
                        <h6>{{phrase.role}} : {{dashboardData.role | uppercase}}</h6>
                    </div>
                </div>
            </div>
            <div>
                <hr>
            </div>
            <div class="card-block">
                <button onclick="location.href='portal#/account';" class="btn btn-block btn-primary waves-effect waves-light" type="button"><span class="pull-left"><i class="ti-settings"></i> {{phrase.AccountSettings}}</span></button>
                <button ng-show="dashboardData.activatedModules.indexOf('messagesAct') > -1 && adminHasPerm('Messages.list')" onclick="location.href='portal#/messages';" class="btn btn-block btn-primary waves-effect waves-light" type="button"><span class="pull-left"><i class="mdi mdi-message-text-outline"></i> {{phrase.Messages}}</span></button>
                <button onclick="location.href='logout';" class="btn btn-block btn-primary waves-effect waves-light" type="button"><span class="pull-left"><i class="fa fa-power-off"></i> {{phrase.logout}}</span></button>
            </div>
        </div>
    </div>

    <div class="col-lg-8 col-md-8" ng-show="$root.can('dashboard.quicklinks')">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-link"></i> {{phrase.quicklinks}}</h4>
                <div class="row">
                    <!--<div class="col-md-4" style="margin-bottom: 10px;" ng-show="adminHasPerm('Messages.list')"><a href="portal#/messages" class="btn btn-block btn-success"> {{phrase.Messages}} </a></div>
                    <div class="col-md-4" style="margin-bottom: 10px;" ng-show="adminHasPerm('newsboard')"><a href="portal#newsboard" class="btn btn-block btn-success"> {{phrase.newsboard}} </a></div>
                    <div class="col-md-4" style="margin-bottom: 10px;" ng-show="adminHasPerm('events')"><a href="portal#events" class="btn btn-block btn-success"> {{phrase.events}} </a></div>
                    --><div class="col-md-4" style="margin-bottom: 10px;" ng-show="adminHasPerm('classSch')"><a href="portal#classschedule" class="btn btn-block btn-success"> {{phrase.ClassSchedule}} </a></div>
                    <!--<div class="col-md-4" style="margin-bottom: 10px;" ng-show="adminHasPerm('mailsms')"><a href="portal#mailsms" class="btn btn-block btn-success"> {{phrase.mailsms}}</a></div>
                    <div class="col-md-4" style="margin-bottom: 10px;" ng-show="adminHasPerm('mobileNotifications')"><a href="portal#mobileNotif" class="btn btn-block btn-success"> {{phrase.mobileNotifications}}</a></div>
                    <div class="col-md-4" style="margin-bottom: 10px;" ng-show="adminHasPerm('Vacation.reqVacation')"><a href="portal#/vacation" class="btn btn-block btn-success"> {{phrase.reqVacation}} </a></div>
                    <div class="col-md-4" style="margin-bottom: 10px;" ng-show="adminHasPerm('staffAttendance')"><a href="portal#staffAttendance" class="btn btn-block btn-success"> {{phrase.staffAttendance}} </a></div>
                    --><div class="col-md-4" style="margin-bottom: 10px;" ng-show="adminHasPerm('Attendance')"><a href="portal#attendance" class="btn btn-block btn-success"> {{phrase.Attendance}}</a></div>
                    <div class="col-md-4" style="margin-bottom: 10px;" ng-show="adminHasPerm('Reports')"><a href="portal#reports" class="btn btn-block btn-success"> {{phrase.Reports}} </a></div>
                    <div class="col-md-4" style="margin-bottom: 10px;" ng-show="adminHasPerm('generalSettings')"><a href="portal#settings" class="btn btn-block btn-success"> {{phrase.generalSettings}}</a></div>
                    <div class="col-md-4" style="margin-bottom: 10px;" ng-show="adminHasPerm('examsList')"><a href="portal#examsList" class="btn btn-block btn-success"> {{phrase.examsList}} </a></div>
                    <div class="col-md-4" style="margin-bottom: 10px;" ng-show="adminHasPerm('studyMaterial')"><a href="portal#materials" class="btn btn-block btn-success"> {{phrase.studyMaterial}} </a></div>
                    <!--<div class="col-md-4" style="margin-bottom: 10px;" ng-show="adminHasPerm('Assignments')"><a href="portal#assignments" class="btn btn-block btn-success"> {{phrase.Assignments}} </a></div>
                    <div class="col-md-4" style="margin-bottom: 10px;" ng-show="adminHasPerm('Homework')"><a href="portal#homework" class="btn btn-block btn-success"> {{phrase.Homework}} </a></div>
                    <div class="col-md-4" style="margin-bottom: 10px;" ng-show="adminHasPerm('onlineExams')"><a href="portal#onlineExams" class="btn btn-block btn-success"> {{phrase.Onlineexams}} </a></div>
                    --><div class="col-md-4" style="margin-bottom: 10px;" ng-show="adminHasPerm('students')"><a href="portal#students" class="btn btn-block btn-success"> {{phrase.students}} </a></div>
                    <!--<div class="col-md-4" style="margin-bottom: 10px;" ng-show="adminHasPerm('classSch')"><a href="portal#/classschedule" class="btn btn-block btn-success"> {{phrase.classSch}} </a></div>
                    --><div class="col-md-4" style="margin-bottom: 10px;" ng-show="adminHasPerm('mediaCenter')"><a href="portal#/media" class="btn btn-block btn-success"> {{phrase.mediaCenter}} </a></div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--<div class="row">

    <div class="col-lg-4 col-md-4" ng-show="$root.can('dashboard.celebBirthday')">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-birthday-cake"></i> {{phrase.celebBirthday}}</h4>
                <div class="message-box" scroll-box id="birthdayCeleb" height="255px">
                    <div class="message-widget message-scroll">
                        &lt;!&ndash; Message &ndash;&gt;
                        <a href="javascript:void(0)" ng-click="studentProfile( user.id )" ng-repeat="user in dashboardData.birthday">
                            <div class="user-img"> <img ng-src="{{'index.php/dashboard/profileImage/'+user.id}}" alt="{{user.fullName}}" class="img-circle"> </div>
                            <div class="mail-contnet">
                                <h5>{{user.fullName}}</h5> Age : {{user.age}}
                            </div>
                        </a>
                        <span style="display: block; text-align: center;padding:20px;" ng-show="!dashboardData.birthday.length">{{phrase.noDataAvailable}}</span>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4" ng-show="$root.can('dashboard.studentLeaderboard')">
        <div class="card card-outline-primary">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-trophy"></i> {{phrase.studentLeaderboard}}</h4>
                <div class="message-box" scroll-box id="stdLdrBrd" height="255px">
                    <div class="message-widget message-scroll">
                        &lt;!&ndash; Message &ndash;&gt;
                        <a href="javascript:void(0)" ng-click="studentProfile( student.id )" ng-repeat="student in dashboardData.studentLeaderBoard">
                            <div class="user-img"> <img ng-src="{{'index.php/dashboard/profileImage/'+student.id}}" alt="{{student.fullName}}" class="img-circle"> </div>
                            <div class="mail-contnet">
                                <h5>{{student.fullName}}</h5> <span class="mail-desc">{{student.isLeaderBoard}}</span>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4" ng-show="$root.can('dashboard.teacherLeaderboard')">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-trophy"></i> {{phrase.teacherLeaderboard}}</h4>
                <div class="message-box" scroll-box id="tchLdrBrd" height="255px">
                    <div class="message-widget message-scroll">
                        &lt;!&ndash; Message &ndash;&gt;
                        <a href="javascript:void(0)" ng-click="studentProfile( student.id )" ng-repeat="student in dashboardData.teacherLeaderBoard">
                            <div class="user-img"> <img ng-src="{{'index.php/dashboard/profileImage/'+student.id}}" alt="{{student.fullName}}" class="img-circle"> </div>
                            <div class="mail-contnet">
                                <h5>{{student.fullName}}</h5> <span class="mail-desc">{{student.isLeaderBoard}}</span>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>-->

<div class="row" ng-show="dashboardData.invoices">

    <div class="col-12">
        <div class="card">
            <div class="row">
                <div class="col-lg-8">
                    <div class="p-20">
                        <h2 class="font-medium text-inverse"> <i class="mdi mdi-currency-usd"></i> {{phrase.Invoices}}</h2>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center hidden-sm-down">#</th>
                                    <th>{{phrase.title}}</th>
                                    <th>{{phrase.Status}}</th>
                                    <th class="hidden-sm-down">{{phrase.Date}}</th>
                                    <th class="hidden-sm-down">{{phrase.dueDate}}</th>
                                    <th class="hidden-sm-down">{{phrase.Amount}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="invoice in dashboardData.invoices">
                                    <td class="text-center hidden-sm-down">{{invoice.paymentTitle}}</td>
                                    <td class="txt-oflo">{{invoice.paymentDescription}}</td>
                                    <td>
                                        <span ng-show="invoice.paymentStatus == '0'" class="label label-danger label-rouded">{{phrase.unpaid}}</span>
                                        <span ng-show="invoice.paymentStatus == '1'" class="label label-success label-rouded">{{phrase.paid}}</span>
                                        <span ng-show="invoice.paymentStatus == '2'" class="label label-warning label-rouded">{{phrase.ppaid}}</span>
                                    </td>
                                    <td class="txt-oflo hidden-sm-down">{{invoice.paymentDate}}</td>
                                    <td class="txt-oflo hidden-sm-down">{{invoice.dueDate}}</td>
                                    <td class="hidden-sm-down"><span class="text-success">{{dashboardData.currency_symbol}} {{invoice.paymentDiscounted}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-4 b-l">
                    <div class="card-block">

                        <div id="m-piechart" invoce-dougnuts style="width:100%; height:278px"></div>
                        <center>
                            <ul class="list-inline m-t-20">
                                <li>
                                    <h6 class="text-muted"><i class="fa fa-circle m-r-5 text-primary"></i>{{phrase.Invoices}}</h6>
                                </li>
                                <li>
                                    <h6 class="text-muted"><i class="fa fa-circle m-r-5 text-danger"></i>{{phrase.dueInvoices}}</h6>
                                </li>
                            </ul>
                        </center>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--<div class="row">

    <div class="col-md-4" ng-show="adminHasPerm('newsboard.') || adminHasPerm('events.')">

        <div class="card" >
            <div class="card-block">
                <h4 class="card-title"> <i class="mdi mdi-bullhorn"></i> {{phrase.NewsEvents}}</h4>
            </div>
            <div class="table-responsive" scroll-box id="nwsEvts" height="300px">
                <table class="table table-hover">
                    <tbody>
                        <tr ng-repeat="item in dashboardData.newsEvents">
                            <td class="txt-oflo" ng-if="item.type == 'news'"><a href="index.php/portal#newsboard/{{item.id}}">{{item.title}}</a></td>
                            <td class="txt-oflo" ng-if="item.type == 'event'"><a href="index.php/portal#events/{{item.id}}">{{item.title}}</a></td>
                            <td ng-if="item.type == 'news'"><span class="label label-success label-rouded text-center" style="width:90px;">{{phrase.newsboard}}</span> </td>
                            <td ng-if="item.type == 'event'"><span class="label label-primary label-rouded text-center" style="width:90px;">{{phrase.events}}</span> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    
    <div class="col-md-4">

        <div class="card" ng-show="dashboardData.activatedModules.indexOf('messagesAct') > -1 && adminHasPerm('Messages.list')">
            <div class="card-block">
                <h4 class="card-title"> <i class="mdi mdi-message-text-outline"></i> {{phrase.Messages}}</h4>
                <div class="message-box" scroll-box id="megs" height="300px">
                    <div class="message-widget message-scroll">
                        &lt;!&ndash; Message &ndash;&gt;
                        <a href="portal#messages/{{message.id}}" ng-repeat="message in dashboardData.messages">
                            <div class="user-img"> <img width="45" height="45" ng-src="{{'index.php/dashboard/profileImage/'+message.userId}}" alt="{{message.fullName}}" class="img-circle"> </div>
                            <div class="mail-contnet">
                                <h5>{{message.fullName}}</h5> <span class="mail-desc">{{message.lastMessage}}</span>
                                <span class="time">{{message.lastMessageDate}}</span>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4">
    
        <div class="card" ng-show="dashboardData.activatedModules.indexOf('onlineMeetingsAct') > -1">
            <div class="card-block">
                <h4 class="card-title"> <i class="mdi mdi-video"></i> {{phrase.Meetings}}</h4>
                <div scroll-box id="meetings" height="300px">

                    &lt;!&ndash; Message &ndash;&gt;
                    <ul class="nav nav-pills custom-pills m-t-20" id="pills-tab2" role="tablist" ng-show="dashboardData.conferences.current.length > 0 || dashboardData.conferences.next.length > 0">
                        <li class="nav-item" ng-show="dashboardData.conferences.current.length > 0">
                            <a class="nav-link" style="padding-top:9px;" ng-class="{'active':dashboardData.conferences.current.length > 0}" id="current-active-tab" data-toggle="pill" href="#current" role="tab" aria-selected="true">{{phrase.currentActive}}</a>
                        </li>
                        <li class="nav-item" ng-show="dashboardData.conferences.next.length > 0">
                            <a class="nav-link" style="padding-top:9px;" ng-class="{'active':dashboardData.conferences.current.length == 0}" id="next-conf-tab" data-toggle="pill" href="#next" role="tab" aria-selected="false">{{phrase.upcomingMeet}}</a>
                        </li>
                    </ul>
                    <div class="tab-content m-t-20" id="pills-tabContent2">
                        <div class="tab-pane fade" ng-class="{'active show':dashboardData.conferences.current.length > 0}" id="current" role="tabpanel" aria-labelledby="current-active-tab" ng-show="dashboardData.conferences.current.length > 0">
                            <div class="table-responsive">
                    
                                <table class="table table-bordered" ng-show="dashboardData.conferences.current.length > 0">
                                    <tbody>
                                        <tr ng-repeat="meeting in dashboardData.conferences.current">
                                            <td>
                                                <a target="_BLANK" ng-href="{{'meetings/join/' + meeting.id}}" class="btn btn-danger card-block-input-item float-right" style="color:white;"><i class="mdi mdi-play"></i> {{phrase.live}} - {{phrase.joinNow}} </a>
                                                <b>{{meeting.conference_title}}</b><br />
                                                <small>
                                                    {{meeting.conference_desc}}
                                                    <br />
                                                    <span ng-show="meeting.conference_presenter.length > 0">{{phrase.confPresenter}} : <span ng-repeat="user in meeting.conference_presenter">{{user.fullName}}, </span></span>
                                                </small>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                    
                            </div>
                        </div>
                        <div class="tab-pane fade" ng-class="{'active show':dashboardData.conferences.current.length == 0}" id="next" role="tabpanel" aria-labelledby="next-conf-tab" ng-show="dashboardData.conferences.next.length > 0">
                            <div class="table-responsive">
                    
                                <table class="table table-bordered" ng-show="dashboardData.conferences.next.length > 0">
                                    <tbody>
                                        <tr ng-repeat="meeting in dashboardData.conferences.next track by $index">
                                            <td>
                                                <b>{{meeting.conference_title}}</b><br />
                                                <span class="btn btn-sm btn-success float-right" style="color:white;"><i class="mdi mdi-timer"></i> {{meeting.scheduled_time_start_total}}</span>
                    
                                                <small>
                                                    {{meeting.conference_desc}}
                                                    <br />
                                                    <span ng-show="meeting.conference_presenter.length > 0">{{phrase.confPresenter}} : <span ng-repeat="user in meeting.conference_presenter">{{user.fullName}}, </span></span>
                                                </small>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                    
                            </div>
                        </div>
                    </div>
                    <span ng-show="!dashboardData.conferences">{{phrase.noMeetings}}</span>
    
                </div>
            </div>
        </div>
    
    </div>
</div>-->

<div class="row">
    <!--<div class="col-md-8">

        <div class="row" ng-show="dashboardData.role == 'student' || dashboardData.role == 'parent'">
            <div class="col-md-6">

                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title"> <i class="mdi mdi-check-all"></i> {{phrase.Attendance}}</h4>

                        <div ng-if="dashboardData.role == 'student'" scroll-box id="stdAttndDB" height="400px">
                            <table class="table table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <th>{{phrase.Date}}</th>
                                        <th ng-show="dashboardData.attendanceModel=='subject'">{{phrase.Subject}}</th>
                                        <th>{{phrase.Attendance}}</th>
                                    </tr>
                                    <tr ng-repeat="(key,value) in dashboardData.studentAttendance">
                                        <td>{{value.date}}</td>
                                        <td ng-show="dashboardData.attendanceModel=='subject'">{{value.subject}}</td>
                                        <td>
                                            <div>
                                                <span ng-show="value.status =='0'">{{phrase.Absent}}</span>
                                                <span ng-show="value.status =='1'">{{phrase.Present}}</span>
                                                <span ng-show="value.status =='2'">{{phrase.Late}}</span>
                                                <span ng-show="value.status =='3'">{{phrase.LateExecuse}}</span>
                                                <span ng-show="value.status =='4'">{{phrase.earlyDismissal}}</span>
                                                <span ng-show="value.status =='9'">{{phrase.acceptedVacation}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div scroll-box id="pntAttndDB" height="400px" ng-if="dashboardData.role == 'parent'">
                            <div ng-repeat="(key, value) in dashboardData.studentAttendance" class="box col-xs-12">
                                <div class="box-header">
                                    <h3 class="box-title">{{value.n.name}}</h3>
                                </div>
                                <div class="box-body table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <tbody>
                                            <tr>
                                                <th>{{phrase.Date}}</th>
                                                <th>{{phrase.Attendance}}</th>
                                            </tr>
                                            <tr ng-repeat="(key2,value2) in value.d">
                                                <td>{{value2.date}}</td>
                                                <td>
                                                    <div>
                                                        <span ng-show="value2.status =='0'">{{phrase.Absent}}</span>
                                                        <span ng-show="value2.status =='1'">{{phrase.Present}}</span>
                                                        <span ng-show="value2.status =='2'">{{phrase.Late}}</span>
                                                        <span ng-show="value2.status =='3'">{{phrase.LateExecuse}}</span>
                                                        <span ng-show="value2.status =='4'">{{phrase.earlyDismissal}}</span>
                                                        <span ng-show="value2.status =='9'">{{phrase.acceptedVacation}}</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-6">

                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title"> <i class="mdi mdi-timelapse"></i> {{phrase.classSch}}</h4>

                        <div scroll-box id="classSchDb" height="400px">
                            <table class="table table-bordered table-hover" ng-show="dashboardData.role != 'parent'">
                                <tbody>
                                    <tr>
                                        <th>
                                            <span ng-show="$root.dashboardData.enableSections != '1'">
                                                {{phrase.className}}
                                            </span>
                                            <span ng-show="$root.dashboardData.enableSections == '1'">
                                                {{phrase.section}}
                                            </span>
                                        </th>
                                        <th>{{phrase.Subject}}</th>
                                        <th>{{phrase.time}}</th>
                                    </tr>
                                    <tr ng-repeat="value in dashboardData.schedule">
                                        <td>
                                            <span ng-show="$root.dashboardData.enableSections != '1'">
                                                {{value.className}}
                                            </span>
                                            <span ng-show="$root.dashboardData.enableSections == '1'">
                                                {{value.sectionName}} - {{value.sectionTitle}}
                                            </span>
                                        </td>
                                        <td>{{value.subjectTitle}}</td>
                                        <td>
                                            {{value.startTime}} -> {{value.endTime}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <span ng-show="dashboardData.role == 'parent'" ng-repeat="std in dashboardData.scheduleStd">
                                {{std.fullName}}
                                <table class="table table-bordered table-hover">
                                    <tbody>
                                        <tr>
                                            <th>
                                                <span ng-show="$root.dashboardData.enableSections != '1'">
                                                    {{phrase.className}}
                                                </span>
                                                <span ng-show="$root.dashboardData.enableSections == '1'">
                                                    {{phrase.section}}
                                                </span>
                                            </th>
                                            <th>{{phrase.Subject}}</th>
                                            <th>{{phrase.time}}</th>
                                        </tr>
                                        <tr  ng-show="$root.dashboardData.enableSections != '1'" ng-repeat="value in dashboardData.schedule[std.studentClass]">
                                            <td>
                                                <span ng-show="$root.dashboardData.enableSections != '1'">
                                                    {{value.className}}
                                                </span>
                                                <span ng-show="$root.dashboardData.enableSections == '1'">
                                                    {{value.sectionName}} - {{value.sectionTitle}}
                                                </span>
                                            </td>
                                            <td>{{value.subjectTitle}}</td>
                                            <td>
                                                {{value.startTime}} -> {{value.endTime}}
                                            </td>
                                        </tr>
                                        <tr  ng-show="$root.dashboardData.enableSections == '1'" ng-repeat="value in dashboardData.schedule[std.studentSection]">
                                            <td>
                                                <span ng-show="$root.dashboardData.enableSections != '1'">
                                                    {{value.className}}
                                                </span>
                                                <span ng-show="$root.dashboardData.enableSections == '1'">
                                                    {{value.sectionName}} - {{value.sectionTitle}}
                                                </span>
                                            </td>
                                            <td>{{value.subjectTitle}}</td>
                                            <td>
                                                {{value.startTime}} -> {{value.endTime}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </span>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="card" ng-show="dashboardData.polls">
            <div class="card-block">
                <h4 class="card-title"> <i class="fa fa-bar-chart-o"></i> {{dashboardData.polls.title}}</h4>

                <div ng-show="dashboardData.polls.view == 'vote'">
                    <div ng-repeat="value in dashboardData.polls.items" class="radio-list">
                        <label>
                            <input type="radio" ng-model="dashboardData.polls.selected" value="{{value.title}}"> {{value.title}}
                        </label>
                    </div>
                </div>
                <div class="form-group" ng-show="dashboardData.polls.view == 'results'">
                    <div ng-repeat="value in dashboardData.polls.items" class="radio">
                        {{value.title}} - {{value.perc}}%
                        <div class="progress progress-striped">
                            <div class="progress-bar bg-info progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{value.perc}}%"></div>
                        </div>
                        <br/>
                    </div>
                    <div class="text-center">{{phrase.totalVotes}} : {{dashboardData.polls.totalCount}}</div>
                </div>

                <div ng-if="!dashboardData.polls.voted" class="box-footer clearfix">
                    <button style="margin:5px;" ng-click="dashboardData.polls.view = 'vote'" ng-show="dashboardData.polls.view == 'results'" type="button" class="pull-right btn btn-info">{{phrase.Return}}</button>
                    <button style="margin:5px;" ng-click="dashboardData.polls.view = 'results'" ng-show="dashboardData.polls.view == 'vote'" type="button" class="pull-right btn btn-primary">{{phrase.votes}}</button>
                    <button style="margin:5px;" ng-show="dashboardData.polls.view == 'vote'" ng-click="savePollVote()" ng-disabled="!dashboardData.polls.selected" class="pull-right btn btn-primary">{{phrase.votePoll}}</button>
                </div>

            </div>
        </div>

    </div>-->
    <div class="col-md-4" ng-show="$root.can('dashboard.Calendar')">

        <div class="card">
            <div class="card-block">
                <h4 class="card-title"> <i class="fa fa-calendar"></i> {{phrase.Calendar}}</h4>

                <div class="row">

                    <div id="calendar" class="fullPageCalendar miniCal" calendar-box></div>

                </div>
            </div>
        </div>

    </div>
</div>
